node_modules
project-env
.vscode
py/output
py/__pycache__
py/build
py/processing_script.spec
openpose_cpu
ffmpeg
images
dist
processing_script.exe
src/test/testfiles
src/test/testfiles2
src/py/haarcascade