.player-container {
	margin: 2vh 0px 0px 5px;
	border: 5px solid black;
	width: 45vw;
	height: 40vh;
}

.player {
	max-height: inherit;
	max-width: inherit;
	width: 100%;
	height: 100%;
	background-color: black;
}

.controls {
	position: absolute;
	bottom: 0.5vh;
}

#parts-btn-folder {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 85vh;
	margin-top: 5vh;
}

.parts {
	text-align: center;
	font-size: 2vh;
	border-top: 1px solid black;
	transform: rotate(-90deg);
	cursor: pointer;
}

#main-container {
	display: flex;
	overflow: hidden;
	height: 90vh;
}

.sub-button-container,
#new-input,
#existing-input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#new-input,
#existing-input {
	flex: 1;
	justify-content: center;
}

#input-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	flex: 1;
}

.steps {
	font-size: 4vh;
	margin-bottom: 2vh;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

#progress-bar-container {
	position: relative;
	border: 1px solid black;
	height: 1vh;
	width: 99vw;
	margin-left: 0.5vw;
	margin-top: 5vh;
	overflow: hidden;
}

#progress-bar {
	position: absolute;
	height: 100%;
	max-height: inherit;
	max-width: inherit;
	width: 0px;
	background: rgba(255, 99, 132, 1);
}

#diagram-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-top: 5vh;
	padding-right: 10px;
	overflow: auto;
	overflow-x: hidden;
	width: 100%;
	margin: 0vh 5vw 0vh 2vw;
}

#settings-btn {
	position: absolute;
	top: 2vh;
	right: 2vh;
	height: 2vh;
	width: 2vw;
}

#settings-content {
	display: none;
	flex-direction: column;
	flex: 1;
	position: absolute;
	left: 32.5vw;
	top: 30vh;
	height: 40vh;
	width: 35vw;
	background-color: white;
	align-items: center;
	border: 2px solid rgb(255, 99, 132);
	border-radius: 2%;
}

#settings-content-title {
	text-align: center;
	font-size: 2vmin;
	margin-top: 5px;
}

.dialog-line {
	border-top: 1px dotted black;
	width: 85%;
	height: 15px;
}

#settings-container-menu-btn {
	display: flex;
	width: 100%;
	height: 10%;
	margin-bottom: 5px;
}

#settings-container {
	display: flex;
	height: 35vh;
	width: 30vw;
	flex-direction: column;
	align-items: left;
	overflow: auto;
}

.sub-settings-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: left;
	overflow: auto;
}

#epoch-threshold-toggle {
	color: #ebebeb;
	border-color: #ebebeb;
}

#close-btn,
#close-deidentification-btn {
	position: absolute;
	top: 1vh;
	right: 0.5vw;
	cursor: pointer;
	height: 2vh;
	width: 2vw;
}

#save-btn {
	width: 10vw;
	height: 3vh;
	font-size: 1vw;
	text-align: center;
	line-height: 3vh;
	cursor: pointer;
}

#divider {
	border-right: 1px solid black;
	position: absolute;
	height: 60vh;
	top: 20%;
	width: 50%;
	z-index: -1;
}

#deidentification-dialog {
	display: none;
	overflow: auto;
	flex: 1;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	left: 35vw;
	top: 37.5vh;
	height: 25vh;
	width: 30vw;
	background-color: white;
	align-items: center;
	border: 2px solid rgb(255, 99, 132);
	border-radius: 2%;
}

#deidentify-btn {
	width: 10vw;
	height: 3vh;
	font-size: 1vw;
	text-align: center;
	line-height: 3vh;
	cursor: pointer;
}

#deidentification-dialog-title {
	text-align: center;
	font-size: 2vmin;
	margin-top: 10px;
}

.menubar,
.settings-menubar {
	line-height: 3vh;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	font-size: 1.5vmin;
	height: 100%;
	border-bottom: 1px black solid;
}

.menubar {
	margin-right: 1.5%;
	width: 10%;
}

.settings-menubar {
	margin-left: 5%;
	margin-right: 5%;
	flex: 1;
	border-radius: 15%;
}

.directory-paths {
	white-space: nowrap;
	margin-right: 10px;
	overflow-x: auto;
	display: block;
	text-align: center;
	font-size: 1.5vmin;
	height: 3vh;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

#input-screen img {
	cursor: pointer;
	width: 10vw;
	height: 10vh;
}

#input-screen > span {
	top: 5vh;
	left: 50%;
	margin-left: -2.5vmin;
	position: absolute;
	font-size: 4vmin;
}

.controls > img {
	cursor: pointer;
	height: 3vh;
	width: 3vw;
}

header {
	position: absolute;
	width: 100%;
	height: 15vh;
}
